In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)

In [29]:
df = pd.read_csv('C:/Users/Karen Lee/Downloads/Test.csv')
print(df.head(10))
print(df.info())

   Impressions
0         1680
1          618
2           66
3         1230
4         5101
5         3391
6         6334
7        15011
8         8842
9         1486
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260 entries, 0 to 2259
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Impressions  2260 non-null   int64
dtypes: int64(1)
memory usage: 17.8 KB
None

In [31]:
df.head(20)

    Impressions
0          1680
1           618
2            66
3          1230
4          5101
5          3391
6          6334
7         15011
8          8842
9          1486
10           43
11         3372
12          550
13         5810
14           55
15          192
16          578
17          495
18           21
19         9881

In [30]:
df = df.dropna()  # Remove NaN values
df = df[df['Impressions'].apply(lambda x: isinstance(x, (int, float)) and x >= 0)]  # Keep only non-negative numbers
df['Impressions'] = df['Impressions'].astype(int)

In [32]:
# Parameters for generation
cost_per_impression_range = (0.05, 0.20)  # £ per impression
ctr_range = (0.005, 0.1)  # Click-through rate
cr_range = (0.01, 0.2)   # Conversion rate
price_per_sale_range = (10, 100)  # £ per sale

In [33]:
# Generate a single price per sale for consistency across rows
price_per_sale = np.random.uniform(price_per_sale_range[0], price_per_sale_range[1])

# Generate Spend: Spend = Impressions * cost_per_impression + noise
cost_per_impression = np.random.uniform(cost_per_impression_range[0], cost_per_impression_range[1], len(df))
df['Spend'] = df['Impressions'] * cost_per_impression + np.random.normal(0, 50, len(df))
df['Spend'] = df['Spend'].clip(lower=0).round(2)  # Ensure non-negative and round to 2 decimals

In [34]:
# Generate Clicks: Clicks = Impressions * CTR
ctr = np.random.uniform(ctr_range[0], ctr_range[1], len(df))
df['Clicks'] = (df['Impressions'] * ctr).astype(int)
df['Clicks'] = df['Clicks'].clip(upper=df['Impressions'])  # Ensure Clicks <= Impressions

In [35]:
# Generate Sales: Sales = Clicks * CR
cr = np.random.uniform(cr_range[0], cr_range[1], len(df))
df['Sales'] = (df['Clicks'] * cr).astype(int)
df['Sales'] = df['Sales'].clip(upper=df['Clicks'])  # Ensure Sales <= Clicks

In [36]:
# Generate Revenue: Revenue = Sales * price_per_sale
df['Revenue'] = (df['Sales'] * price_per_sale).round(2)

In [37]:
# Save to CSV
output_file = 'generated_marketing_data.csv'
df.to_csv(output_file, index=False)

In [38]:
# Print first few rows for verification
print(df.head())

   Impressions   Spend  Clicks  Sales  Revenue
0         1680  258.39     104     14  1264.58
1          618  106.76      10      0     0.00
2           66   87.49       0      0     0.00
3         1230  148.73      67     12  1083.93
4         5101  799.89     220      2   180.65

In [39]:
# Return the path to the output file
print(f"Data saved to {output_file}")

Data saved to generated_marketing_data.csv